@import '../../assets/styles/main.scss';

.atp-price-main {
    display: inline;
}

.atp-price {
    color: $color-grey;
    text-decoration: line-through;
    padding: 0 $spacing-base;

    &--grey {
        color: $color-grey;
    }
}