.atp-article {
    display: flex;
    flex-direction: row;

    &__description {
        width: 100%;

        &__text {
            margin-left: 5rem;
            position: sticky;
            top: 35vh;
        }
    }

    &__actions {
        width: 100%;

        &__elements {
            position: sticky;
            top: 40vh;
            margin-right: 5rem;
            width: 300px;
            margin-left: auto;
        }

        &__buttons {
            margin-bottom: 1rem;
            width: 100%;
        }

        &__selector {
            text-transform: uppercase;
            appearance: none;
            background-color: transparent;
            border: none;
            width: 300px;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
            border: 1px solid;
            border-radius: 0;
            line-height: 2rem;
            font-weight: 500;
            background: transparent url("../../assets/images/dropdow-arrow-2xmargin-right.png") center right no-repeat;
            background-size: 1rem;
        }

        select:focus {
            outline: 0;
        }
    }


    &__photos {
        width: 100%;

        &__photo {
            margin: 0 auto;
            height: calc(100vh - 60px);
            margin-bottom: 3rem;
            display: block;
        }
    }
}