@import '../../assets/styles/main.scss';

.atp-article {
    display: flex;
    flex-direction: row;

    &__description {
        width: 100%;
        margin-left: $spacing-4xl;

        &__text {
            margin-left: $spacing-xl;
            position: sticky;
            top: 35vh;
        }
    }

    &__actions {
        width: 100%;
        margin-right: $spacing-4xl;

        &__elements {
            position: sticky;
            top: 40vh;
            margin-right: $spacing-xl;
            width: 400px;
            margin-left: auto;
        }

        &__buttons {
            margin-bottom: 1rem;
            width: 100%;
        }
    }

    &__photos {
        width: 100%;

        &__photo {
            margin: 0 auto;
            height: calc(100vh - 60px);
            margin-bottom: 3rem;
            display: block;
        }
    }
}