.atp-article {
    display: flex;
    flex-direction: row;

    &__informations {
        width: 100%;

        &__text {
            margin-left: 4rem;
            position: sticky;
            top: 40vh;
        }

        &__buttons {
            display: flex;
        }
    }

    &__selector {
        height: 35px;
    }

    &__photos {
        width: 100%;

        &__photo {
            margin: 0 auto;
            height: calc(100vh - 60px);
            margin-bottom: 50px;
        }
    }
}