@import '../../assets/styles/main.scss';

.atp-button {
  border: $border-classic;
  min-height: $spacing-2xl;
  text-transform: uppercase;
  outline: 0;
  font-weight: 500;
  font-size: $font-size-base;
  cursor: pointer;

  &--primary {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
    width: 60%;

    @media screen and (max-width: $breakpoint-xl) {
      width: 85%;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $color-black;
    border-color: $color-white;
    width: 40%;

    @media screen and (max-width: $breakpoint-xl) {
      width: 15%;
    }
  }

  &__filter {
    display: inline-flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: $spacing-sm 0 $spacing-sm $spacing-sm;
    margin-right: $spacing-md;
    border: none;
    color: $color-black;
    max-width: 120px;
  }
}

.atp-button:active {
  background: $color-grey;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  outline: none;
}
