@import '../../assets/styles/main.scss';

.atp-button {
    border: 1px solid;
    min-height: 35px;
    text-transform: uppercase;
    outline: 0;
    font-weight: 500;
    font-size: $font-size-base;
    cursor: pointer;

    &--primary {
        background-color: $color-black;
        border-color: $color-black;
        color: $color-white;
        width: 60%;
    }

    &--secondary {
        background-color: $color-white;
        color: $color-black;
        border-color: $color-white;
        width: 40%;
    }
}