.atp-button {
    border: 1px solid;
    min-height: 35px;
    text-transform: uppercase;
    outline: 0;
    font-weight: 500;
    cursor: pointer;

    &--primary {
        background-color: black;
        border-color: black;
        color: white;
        width: 60%;
    }

    &--secondary {
        background-color: white;
        color: black;
        border-color: white;
        width: 40%;
    }
}