@import '../../assets/styles/main.scss';

.atp-search-sort {
  margin-right: 3rem;
  height: 100%;
  width: $spacing-10xl;
  text-align: right;

  &__title {
    text-transform: uppercase;
    padding-top: $spacing-xl;
    font-weight: $bold-text;
  }

  &__link {
    padding-bottom: $spacing-xs;
    a {
      text-transform: capitalize;
    }
  }
}
