@import '../../assets/styles/main.scss';

.atp-list {
    font-size: $font-size-base;
    text-align: left;
    padding-inline-start: 0px;
    list-style: none;

    li:before {
        content: "· ";
        vertical-align: middle;
    }
}