@import '../../assets/styles/main.scss';

.atp-shopping {
  &__cart {
    margin-top: $spacing-xl;

    @media screen and (min-width: $breakpoint-lg) {
      float: left;
      min-width: 50vw;
      margin-left: 2.5rem;
      margin-right: $spacing-base;
    }

    @media screen and (min-width: $breakpoint-xl) {
      margin-left: 8rem;
    }

    &__header {
      border-bottom: 1px solid $color-light-grey;
      margin-bottom: $spacing-xl;

      &--left {
        display: inline-block;
        color: $color-grey;
        margin-left: 4.37rem;
      }

      &--right {
        float: right;
        color: $color-grey;
      }
    }

    &__list {
      display: grid;
      gap: $spacing-xl;
      grid-auto-rows: 9.37rem;
      &__item {
        border-bottom: 1px solid $color-light-grey;
      }
    }

    &__total {
      margin-top: $spacing-xl;
      &--order {
        display: inline-block;
        margin-left: 4.37rem;
      }
      &--price {
        float: right;
      }
    }
  }

  &__checkout {
    margin-top: $spacing-xl;
    width: 100%;
    max-width: 20rem;

    @media screen and (min-width: $breakpoint-lg) {
      float: right;
      margin-right: $spacing-xl;
    }
    @media screen and (min-width: $breakpoint-xl) {
      margin-right: $spacing-4xl;
    }

    &__input {
      width: 100%;
      font-size: $font-size-base;
      box-sizing: border-box;
      border: 1px solid;
      outline: 0;
      line-height: 2rem;
      min-height: 2.18rem;
      margin: 0.25rem 0 $spacing-xl 0;
      padding: 0 0 0 $spacing-base;
    }

    &__button {
      width: 100%;
    }
  }
}
