@import '../../assets/styles/main.scss';

.atp-shopping {
  &__cart {
    margin-top: $spacing-xl;

    @media screen and (min-width: $breakpoint-md) {
      margin-left: $spacing-4xl;
      margin-right: $spacing-4xl;
    }
    @media screen and (min-width: $breakpoint-lg) {
      float: left;
      min-width: 50vw;
      margin-left: 2.5rem;
      margin-right: $spacing-base;
    }

    @media screen and (min-width: $breakpoint-xl) {
      margin-left: $spacing-8xl;
    }

    &__header {
      border-bottom: $border-classic $color-light-grey;
      margin-bottom: $spacing-xl;

      &__item {
        color: $color-grey;

        &--left {
          display: inline-block;
          margin-left: $spacing-4xl-bonus;
        }

        &--right {
          float: right;
        }
      }
    }

    &__list {
      display: grid;
      gap: $spacing-xl;
      grid-auto-rows: 9.375rem;
      &__item {
        border-bottom: $border-classic $color-light-grey;
      }
    }

    &__total {
      margin-top: $spacing-xl;
      &--order {
        display: inline-block;
        margin-left: $spacing-4xl-bonus;
      }
      &--price {
        float: right;
      }
    }
  }

  &__checkout {
    margin-top: $spacing-xl;
    width: 100%;
    max-width: $spacing-20xl;

    @media screen and (min-width: $breakpoint-md) {
      margin-left: $spacing-4xl;
    }

    @media screen and (min-width: $breakpoint-lg) {
      float: right;
      margin-right: $spacing-xl;
    }
    @media screen and (min-width: $breakpoint-xl) {
      margin-right: $spacing-4xl;
    }

    &__input {
      margin-top: $spacing-base;
    }

    &__button {
      width: 100%;
    }
  }

  &__empty-cart {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: $spacing-10xl;

    &__links {
      display: flex;
      justify-content: center;
      margin-top: $spacing-4xl;
      margin-bottom: $spacing-4xl;

      &__link {
        margin: $spacing-md;
      }
    }

    &__list {
      columns: 2;
      text-align: left;
      width: 15rem;
      margin: $spacing-xl auto;

      &__link {
        margin-left: $spacing-2xl;
      }
    }
  }
}
