@import '../../assets/styles/main.scss';

.atp-article-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    max-height: $spacing-20xl;
  }

  &__info {
    align-self: flex-start;
  }

  &__link {
    margin: 0.2rem 0;

    &--capitalize {
      a {
        text-transform: capitalize;
      }
    }
  }
}
