@import '../../assets/styles/main.scss';

.atp-menu-mobile {
  position: fixed;
  background: white;
  top: 0;
  z-index: $zindex-menu;
  height: 100%;
  width: 100%;
  &__header {
    margin: $spacing-xl $spacing-xs 0 $spacing-xs;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      text-transform: uppercase;
      color: $color-grey;
    }
  }
  &__list {
    list-style: none;
    padding-inline-start: 0;
    margin-top: $spacing-3xl;
    margin-right: $spacing-xl;
    margin-left: $spacing-xl;
  }
}
