@import '../../../assets/styles/main.scss';

.atp-item {
  display: flex;
  position: relative;
  &__photo {
    max-height: 8.125rem;
  }

  &__description {
    width: 100%;
    margin: 0 $spacing-md;
  }

  &__price {
    width: 100%;
    text-align: right;

    &__block {
      display: block;
    }

    &__remove {
      text-decoration: underline;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
