@import '../../../assets/styles/main.scss';

.atp-item {
    display: flex;

    &__photo {
        max-height: 12.5rem;
        max-width: 6.25rem;
        margin-bottom: 1rem;

        @media screen and (max-width: $breakpoint-lg) {
        max-height: 6.25rem;
        max-width: 3.12rem;
        }
    }

    &__description {
        margin-left: 1rem;

        &__size {
            text-transform: uppercase;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__remove {
            text-decoration: underline;
            cursor: pointer;
            margin-bottom: 1rem;
        }
    }
}