.atp-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-right: 20px;

        &__link {
            padding: 0 10px;
        }
    }

    &__title {
        font-size: large;
    }
}