@import '../../assets/styles/main.scss';

.atp-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $spacing-4xl;
    z-index: 1000;

    &__desktop-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        margin: 0 4rem;
        width: 12rem;

        &--right {
            justify-content: flex-end;
        }

        &__link {

            padding-right: $spacing-md;

            &--noPadding {
                padding-right: 0;
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    &__mobile-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-inline-start: 0;
        margin: 0 1rem;
        width: 4rem;

        &--right {
            justify-content: flex-end;
        }

        &__link {
            padding-right: $spacing-md;

            &__icon {
                font-size: 1.5rem;
            }

            &--noPadding {
                padding-right: 0;
            }
        }

        @media screen and (min-width: $breakpoint-md) {
            display: none;
        }
    }

    &__title {
        font-size: large;
    }
}