@import '../../assets/styles/main.scss';

.atp-recently-viewed {
  margin: $spacing-xl $spacing-4xl;

  @media screen and (max-width: $breakpoint-md) {
    margin: $spacing-xl 0;
  }

  &__articles {
    display: grid;
    gap: $spacing-xl;
    justify-content: start;
    grid-auto-flow: column;
    grid-auto-columns: 11rem;
    overflow-x: auto;
    scrollbar-width: none;
  }

  &__articles::-webkit-scrollbar {
    display: none;
  }
}
