@import './assets/styles/main.scss';

body,
select,
button {
    font-size: $font-size-base;
}

.atp-page {
    background-color: $color-white;
    margin-top: $spacing-4xl;
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
    min-height: calc(100vh - 110px);
}