@import '../../assets/styles/main.scss';

.atp-search-articles {
  margin: $spacing-xl auto;

  &__title {
    text-transform: uppercase;
  }

  &__grid {
    display: grid;
    gap: $spacing-4xl;
    grid-template-columns: auto auto auto auto;
  }
}
