@import '../../assets/styles/main.scss';

.atp-link {
    a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-size-base;
    }

    :hover {
        text-decoration: underline;
    }
}